body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

#image-upload {
    border: 3px solid #ccc;
    padding: 20px;
    background-color: #3471f3;
}

#image-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    
}

#upload-button {
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#upload-button:active {
    background-color: #555;
}

#image-gallery {
    margin-top: 20px;
}

#image-list {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

li:last-child {
    margin-bottom: 0;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-item {
    max-width: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.image {
    max-width: 100%;
    height: auto;
}

.delete-button {
    background-color: #ff0000a6;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
.delete-button:active{
    background-color: #ff0000;
    transition: 0.5s;
}
#image-input{

}